# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log

# Checkpoints e modelos
checkpoints/
modelo-treinado/
modelo-final/
*.tflite
*.pbmm

# Arquivos de áudio
*.wav
*.mp3
*.flac
*.ogg

# Arquivos de sistema
.DS_Store
Thumbs.db 